/**********************************
 * VARIABLES
 * utility
 */

// % COLORS % 
$realwhite			: #fafafa;
$white				: #eaeaea;
$bg_dark_blue		: #1d2c3a;
$bg_light_blue		: #2e3b47;
$info_middle_grey	: #858585;
$green				: #00c864;